<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--哪一个提供程序-->
    <!--<add key="provider" value="System.Data.SqlClient"/>-->
    <add key="provider" value="System.Data.OleDb"/>
    <!--哪一个连接字符串-->
    <!--<add key="Constr" value="server=.;database=AutoLot;uid=sa;pwd=Password_1;"/>-->
    <add key="Constr" value="Provider=SQLOLEDB;server=.;database=AutoLot;uid=sa;pwd=Password_1;"/>
  </appSettings>
  <!--这里是连接字符串-->
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="server=.;database=AutoLot;uid=sa;pwd=Password_1;"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;server=.;database=AutoLot;uid=sa;pwd=Password_1;"/>
  </connectionStrings>
</configuration>